<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SharePun</title>
    <link href="index.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to SharePun</h1>
    <a href="{% url 'add_entry' %}">Add an entry</a>
    <ul>
        {% for entry in entries %}
        <li{% if entry.id == new_entry_id %} style="background-color: yellow;"{% endif %}>
            <strong>{{ entry.name }}</strong>: {{ entry.content }}
            [<a href="{% url 'entry' entry.id %}">view</a>]
        </li>
        {% endfor %}
    </ul>
</body>
</html>